<!--<router-outlet></router-outlet>-->

<div class="flex">
  <app-sidebar class="flex-content-width"
               (usersEmmiter)="setUserView($event)"
               (find)="search($event)"></app-sidebar>
  <app-main-content
    [users] = "users"
    [filter-options]="filterByOptions"
    [page-title]="pagetitle"
    (filter)="filterUsers($event)"
    (nav)="navigate($event)"
    (filter-selected)="filterBy($event)"
    (user)="checkUser($event)"
    class="flex-content-width"></app-main-content>
</div>
